In [2]:
#Importing necessary libraries 
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd
import pandasql as ps
import sqlite3

In [3]:
#Loading affiliated datadfames. 
df_movies=pd.read_csv('movies.csv')
df_rating=pd.read_csv('ratings.csv')

In [4]:
#Movies with same titles exists but have different IDs, since there are different movies released over time with same title
a=df_movies.groupby(['title'])
a.size().sort_values(ascending= False)

title
Cinderella                    11
Alice in Wonderland            9
Hamlet                         9
Les Misérables                 8
Beauty and the Beast           8
                              ..
Hollywood Adventures           1
Hollywood Boulevard            1
Hollywood Canteen              1
Hollywood Chainsaw Hookers     1
ファンタスティポ                       1
Length: 42027, dtype: int64

In [5]:
a = input('Enter movie id: ')

query = f""" SELECT DISTINCT df_movies.title
FROM df_movies JOIN df_rating ON df_movies.id = df_rating.movieId
WHERE (df_movies.runtime, df_rating.rating) = 
(SELECT runtime, rating FROM df_movies WHERE id = {a} & runtime BETWEEN 0 AND 250 )
ORDER BY df_movies.popularity DESC
LIMIT 15
"""
result = ps.sqldf(query, locals())

print(result)

Enter movie id: 1365
                              title
0                           Ice Age
1                  Army of Darkness
2   Beavis and Butt-Head Do America
3                      Run Lola Run
4                    X: The Unknown
5                          Elephant
6                     Halloweentown
7      The Incredible Shrinking Man
8                   Pieces of April
9                 Conquest of Space
10                 10 Items or Less
11                    Union Station
12                        Long Pigs
13                           Calmos
14             The Wild Blue Yonder